:root {
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #303030;
    --cor-terciaria: #FFB900;
}

main {
    position: relative;
}

.content-header {
    display: flex;
    padding-top: 4rem;
    background-color: var(--cor-primaria);
    justify-content: center;
    align-items: center;
}

.content-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-left: 0;
}

.content-tecList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: var(--cor-primaria);
    list-style: none;
    width: auto;
    padding-left: 3rem;
    margin-right: 5rem;
}

.content-tecList li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-tecList li p {
    display: flex;
    position: absolute;
    bottom: -25px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.content-tecList img {
    height: 3rem;
    transition: height 100ms ease-in-out;
}

.content-tecList img:hover {
    height: 4rem;
}

.content-article {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    width: 100%;
}

.content-article-tags {
    color: #b4b4b4;
    display: flex;
    padding: 2rem 0 0.5rem 3.2rem;
}

.content-article-title {
    padding-left: 5rem;
    font-size: 40px;
    color: var(--cor-secundaria);
}

.content-article-buttonDiv {
    padding-left: 5rem;
    margin-top: 2rem;

}

.content-article-buttonDiv a {
    display: flex;
    height: 2rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    color: var(--cor-primaria);
    text-decoration: none;
    background-color: var(--cor-terciaria);
    transition: all 100ms ease-in-out;
}

.content-article-buttonDiv a:hover {
    background-color: #ffd665;
}

.content-article-mainContent {
    padding: 5rem;
    font-size: 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    white-space: pre-line;
}

.content-article-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    color: #b4b4b4;
}

@media (max-width: 1180px) {

    .content-header {
        flex-direction: column;

    }

    .content-tecList {
        margin: 2rem 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: auto;
    }
}

@media (max-width: 682px) {

    .content-article-tags {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (max-width: 480px) {

    .content-article-tags {

        grid-template-columns: 1fr 1fr;
    }

}