.cardcomponent {
    width: 20rem;
    height: 20rem;
    background-color: aliceblue;
    cursor: pointer;
    overflow: hidden;
}

.cardcomponent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
}

.cardcomponent img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}