:root {
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #303030;
    --cor-terciaria: #FFB900;
}

.headerComponent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: var(--cor-primaria);
}

.headerComponent-apresentation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-primaria);
}

.headerComponent-apresentation h1 {
    margin-left: 5rem;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--cor-secundaria);
}

.headerComponent-apresentation h2 {
    margin-left: 5rem;
    font-size: 1.3rem;
    color: var(--cor-secundaria);
}

.headerComponent-apresentation ul {
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.headerComponent-apresentation ul li a {
    color: var(--cor-secundaria);
    transition: color 200ms ease-in-out;
}

.headerComponent-apresentation ul li a:hover {
    color: var(--cor-terciaria);
}

.headerComponent-about {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: var(--cor-primaria);
}

.headerComponent-about h4,
p {
    margin: 0 2rem;
}

.headerComponent-about h4 {
    font-size: 1.1rem;
    color: var(--cor-secundaria);
}

.headerComponent-skills {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--cor-primaria);
}

.headerComponent-skills h4,
ul {
    margin-right: 5rem;
    margin-left: 2rem;
}

.headerComponent-skills ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.headerComponent-skills ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headerComponent-skills ul li p {
    margin-top: 0.5rem;
    position: absolute;
    bottom: -25px;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: #303030;
    color: var(--cor-primaria);
}

.headerComponent-skills ul li img {
    height: 2.5rem;
    width: fit-content;
    transition: height 100ms ease-in-out;
}

.headerComponent-skills ul li img:hover {
    height: 4rem;
}

@media (max-width: 801px) {

    .headerComponent {
        grid-template-columns: 1fr 1fr;

    }

    .headerComponent-apresentation {
        margin-top: 6rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .headerComponent-skills ul {
        grid-template-columns: 1fr 1fr 1fr;
    }


}

@media (max-width: 650px) {

    .headerComponent {
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
    }

    .headerComponent-skills {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .headerComponent-skills ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

}

@media (max-width: 480px) {

    .headerComponent {
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
    }

    .headerComponent-skills {
        margin-top: 1rem;
    }

    .headerComponent-apresentation h1 {

        font-size: 3rem;

    }

    .headerComponent-skills ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (max-width: 320px) {

    .headerComponent-skills ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

}